{{ define "main" }}

  <div class="archive">
    
    {{ range ((where .Site.RegularPages "Type" "post").GroupByDate "2006") }}
    <div class="archive-year"><h3>{{ .Key }}</h3></div>
    
    <ul class="archive-list">
      {{ range (where .Pages "Type" "post") }}
      <li>
        <span class="archive-date">{{ .PublishDate.Format "02 Jan" }}</span>
        <a class ="archive-post" href="{{ .RelPermalink}}">{{ .Title }}</a>
        <span class="reading-time">[{{ .ReadingTime }} minute read]</span>
      </li>
      {{ end }}
      
    </ul>
    {{ end }}
    
  </div>

{{ end }}