
a:hover {
  color: var(--accent);
}

.archive {
  width: 100%;
}

.archive-year {
  color: var(--accent);
  position: relative;
  margin-top: 2em;
  border-bottom: 2px dotted var(--accent);
  margin: 0 0 15px;
}

.archive-year:after {
  content: "";
  position: absolute;
  bottom: 2px;
  display: block;
  width: 100%;
  border-bottom: 2px dotted var(--accent);;
}

.archive-year h3 {
  margin-bottom: 0.4em;
}

ul.archive-list {
  list-style-type: none;
  margin-top: 0.2em;
}

.archive-list li {
  margin-bottom: 0.2em;
  margin-bottom: 0.2em;
}

.archive-list li a {
  text-decoration: none;
}

.archive-list li a:hover {
  text-decoration: underline;
}

.archive-date {
  color: var(--accent);
  font-size: 0.8em;
  padding-right: 1em;
}

.reading-time {
  color: #ffffff;
  opacity: 0.5;
  font-size: 0.8em;
  padding-left: 1em;
}

footer div {
  font-size: 12px !important;
}

aside {
  font-size: 1em !important;
  border-top: 2px dotted var(--accent);
  border-bottom: 2px dotted var(--accent);
  margin-top: 40px;
}

aside > h2 {
  color: var(--accent);
  text-transform: uppercase;
  font-size: 1em !important;
  margin-top: 1em !important;
}

aside ul {
  margin-top: 0px !important;
}

figure img, .map-content {
  padding: 10px;
  border: 2px solid var(--accent);
}

figure figcaption {
  text-align: left !important;
}

.map-caption {
  font-size: 14px;
  padding: 5px 10px;
  margin-top: 5px;
  background: var(--accent);
  color: var(--background);
  text-align: left !important;
}

.video-player {
  position: relative;
  width: 100% !important;
  padding-bottom: calc(9/16*100%);
  border: 2px solid var(--accent);
}

.video-player iframe {
  position: absolute;
  padding:10px;
  width: 100%;
  height: 100%;
}

section.footnotes .video-player {
  position: relative;
  width: 50% !important;
  padding-bottom: calc(9/16*50%);
  border: 2px solid var(--accent);
  margin-top: 10px;
  margin-bottom: 20px;
}

section.footnotes .video-player iframe {
  width: 100%;
  height: 100%
}

pre {
  white-space: pre !important;
  word-wrap: normal !important;
}

@media screen {
  pre {
    white-space: pre !important;
    word-wrap: normal !important;
  }
}

section.footnotes {
  padding-top: 2em;
  font-size: 0.8em !important;
}

section.footnotes  code {
  font-size: 1em !important;
}

.post-content h4 {
  font-weight: normal;
  color: var(--accent);
  margin-bottom: 10px;
}

.post-content h4 ~ p {
  margin-top: 10px;
}