:root {
    /* Palette colours */
    --lg-base-white: #F5F8FA;
    --lg-base-black: #222222;
    --lg-dark-green: #566B0A;
    --lg-light-green: #B6E01B;
    --lg-deep-blue: #03171F;
    --lg-dark-blue: #0A4F6B;
    --lg-light-blue: #1BA8E0;
    --lg-dark-blue-alpha: #0A4F6B66;
    --lg-yellow: #E0A21B;
    /* Variables */
    --lg-background: #F5F8FA;
    --lg-background-2: #0A4F6B11;
    --lg-text: #03171F;
    --lg-border: #0A4F6B;
    --lg-accent: #1BA8E0;
}

html {
    background-color: var(--lg-background);
    color: var(--lg-text);
}

body {
    max-width: 800px;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--lg-border);
    margin-top: 30px;
    font-weight: 500;
}

h1.page-title {
    font-size: 36px;
    font-weight: 600;
}

p {
    line-height: 1.4;
}

blockquote {
    display: block;
    border-left: 3px solid var(--lg-accent);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

blockquote p {
    display: inline-block;
    margin: 0px;
}

ul, ol {
    list-style: none;
}

ol {
    counter-reset: li;
}

ol li {
    counter-increment: li;
    position: relative;
}

ol li:before {
    color: var(--lg-accent);
    content: counter(li) ".";
    display: inline-block;
    position: absolute;
    right: calc(100% + 10px);
    text-align: right;
    font-weight: 500;
}

ul li {
    position: relative;
}

ul li:before {
    color: var(--lg-accent);
    content: "-";
    display: inline-block;
    position: absolute;
    right: calc(100% + 10px);
    text-align: right;
    font-weight: 500;
}

nav.site-nav {
    top: 0;
    width: calc(100%-20px);
    background-color: var(--lg-background);
    margin-top: 25px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-bottom: 20px solid var(--lg-background);
    padding: 15px 0px;
}

nav.site-nav div.nav-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 20px;
    padding-bottom: 25px;
    border-bottom: 3px dotted var(--lg-border);
    border-top: 3px dotted var(--lg-border);
}

nav.site-nav.page-nav div.nav-content {
    padding-top: 10px;
    padding-bottom: 15px;
}

nav.site-nav.page-nav {
    position: relative;
}

nav.site-nav h1.site-title {
    padding: 0px;
    margin: 0px;
}

nav.site-nav h1.site-title a {
    font-weight: 600;
    font-size: 36px;
    text-decoration: none;
    color: var(--lg-border);
}

nav.site-nav.page-nav h1.site-title a {
    font-size: 16px;
}

nav.site-nav .site-extra {
    float: right;
    font-size: 12px;
}

.homepage .archive-link {
    font-family: Inter, sans-serif;
    font-size: 24px;
    margin-bottom: 50px;
    border-top: 1px solid var(--lg-border);
}

.homepage .archive-link a {
    color: var(--lg-accent);
    text-decoration: none;
    padding-top: 10px;
    padding-right: 1.5rem;
    border-top: 3px solid var(--lg-border);
    display: inline-block;
}

.site-extra a {
    font-size: 12px;
    text-decoration: none;
    color: var(--lg-text);
}

.site-extra a:first-child {
    padding-right: 10px;
}

main {
    margin: 0px 10px;
}

.list-page-item {
    margin-top: 10px;
    margin-bottom: 50px;
    border-top: 1px solid var(--lg-border);
}

.list-page-item h2 {
    color: var(--lg-text);
    font-size: 24px;
    padding-top: 5px;
    margin-top:0px;
    padding-right: 1.5rem;
    border-top: 5px solid var(--lg-border);
    display: inline-block;
}

.list-page-item h2 span.date {
    font-weight: 400;
    font-size: 14px;
    color: var(--lg-accent);
}

.list-page-item h2 a {
    text-decoration: none;
    font-weight: 400;
    color: var(--lg-border);
    padding-left: 10px;
    /*border-left: 2px solid var(--lg-accent);
    margin-left: 10px;*/
}

a.tag-list-item {
    display: inline-block;
    text-decoration: none;
    padding-right: 0.5em;
    line-height: 2em;
}

a.tag-list-item:last-child {
    padding-right: unset;
}

.tag-list-item .tag-term {
    color: var(--lg-border);
    font-size: 24px;
    font-weight: 400;
}

.tag-list-item .tag-count {
    font-weight: 400;
    font-size: 14px;
    color: var(--lg-accent);
}

div.tag-page-heading {
    margin-block-end: 40px;
}

div.tag-page-heading h1 {
    margin-block-end: 0px;
}

.list-item-content {
    display: flex;
    flex-direction: row;
}

.list-item-content .cover-photo img {
    padding: 10px;
    border: 2px solid var(--lg-accent);
    background-color: var(--lg-background-2);
}

.list-item-content .summary {
    padding-inline-start: 10px;
}

.list-page-item .read-more {
    margin-top: 10px;
}

.list-page-item .read-more a {
    text-decoration: none;
    color: var(--lg-accent);
}

.post-cover {
    padding: 20px;
    border: 4px solid var(--lg-accent);
    background-color: var(--lg-background-2);
    margin-bottom: 30px;
}

.post-cover img {
    width: 100%;
}

.cover-caption {
    text-align: right;
    font-size: 0.9em;
    font-family: Inter, sans-serif;
    margin-top: 10px;
    color: var(--lg-accent);
}

.cover-caption a {
    color: var(--lg-accent);
}

figure {
    border: 2px solid var(--lg-accent);
    background-color: var(--lg-background-2);
    padding: 10px;
    margin: 10px 0px;
    width: 95%;
}

figure img {
    width: 100%;
}

figcaption {
    color: var(--lg-accent);
    font-weight: 300;
    padding: 10px;
}

figcaption p {
    display: contents;
}

.page-content a {
    color: var(--lg-accent)
}

.page-content h2, .page-content h3, .page-content h4 {
    display: inline-block;
    padding-right: 1.5rem;
    padding-bottom: 2px;
    border-bottom: 5px solid var(--lg-border);
}

p code, li code {
    color: var(--lg-accent);
    background-color: var(--lg-background-2);
    padding: 0px 0.25em;
}

a code {
    text-decoration: underline;
}


pre {
    background-color: var(--lg-background-2);
    white-space: pre !important;
    word-wrap: normal !important;
    width: 95%;
    overflow: scroll;
    padding: 10px;
    border: 1px solid var(--lg-border);
    color: var(--lg-text);
    margin: 30px 0px;
    font-size: 0.9rem;
}

.codefold pre {
    margin: 5px 0px;
}

.codefold summary {
    color: var(--lg-accent);
}

.codefold summary span {
    color: var(--lg-text);
}

.chroma {
    color: var(--lg-text);
}

.chroma .o {
    color: var(--lg-accent);
}

.chroma .m, .chroma .s, .chroma .kc {
    color: var(--lg-dark-green);
}

.footnotes {
    margin-top: 50px;
    font-size: 0.8em;
    border-top: 1px dashed var(--lg-accent);
}

.footnotes hr {
    display: none;
}

.footnotes ol:before {
    display: block;
    content: "FOOTNOTES";
    margin-left: -40px;
    color: var(--lg-accent);
    font-weight: 500;
}

a.footnote-ref {
    color: var(--lg-accent);
    text-decoration: none;
}

a.footnote-backref {
    color: var(--lg-accent);
    text-decoration: none;
}

.archive-year {
    border-top: 1px solid var(--lg-border);
}

.archive-year h2 {
    border-top: 5px solid var(--lg-border);
    font-size: 24px;
    font-weight: 400;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 1.5rem;
    margin: 0px;
    display: inline-block
}

.archive-date, .archive .reading-time {
    font-size: 0.8em;
    color: var(--lg-accent);
}

.archive-post {
    font-family: Inter, sans-serif;
    color: var(--lg-border);
    font-size: 1.1em;
}

.archive-list li {
    padding: 2px 0px;
}

.post-meta {
    margin-bottom: 20px;
    color: var(--lg-text);
    font-size: 0.9em;
}

.post-meta a {
    color: var(--lg-accent);
    text-decoration: none;
}

.map-container {
    border: 2px solid var(--lg-accent);
    padding: 10px;
    margin: 0px;
}

.map-content {
    width: 100%;
}

.map-caption {
    font-family: Inter, sans-serif;
    font-weight: 300;
    padding: 5px 10px;
    margin-top: 5px;
    color: var(--lg-accent);
    text-align: left !important;
}
  
.video-player {
  position: relative;
  width: 100% !important;
  padding-bottom: calc(9/16*100%);
  border: 2px solid var(--lg-accent);
}

.video-player iframe {
  position: absolute;
  padding:10px;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
}

.footnotes .video-player {
    position: relative;
    width: 50% !important;
    padding-bottom: calc(9/16*50%);
    margin-top: 10px;
    margin-bottom: 20px;
}

.footnotes figure {
    width: 50%;
    max-width: 50%;
    padding: 5px;
    border-width: 1px;
}

.footer {
   margin-top: 100px;
   margin-bottom: 50px;
   margin-left: 10px;
   padding: 10px 0px;
   border-top: 1px dashed var(--lg-border);
   color: var(--lg-accent);
   font-size: 0.8em;
}

.footer a {
  color: var(--lg-accent);
}

ul.profile-links {
    display: inline-block;
    margin: 0px;
    padding: 0px;;
    list-style: none;
}

li.profile-link {
    display: inline-block;
}

sup {
    padding-left: 2px;
}

@media (max-width: 700px) {
    div.nav-content h1, div.nav-content .site-extra, .list-item-content .cover-photo, .list-item-content .summary {
        flex: 100%;
    }
    div.nav-content, .list-item-content {
        flex-direction: column;
    }
    
}